
table .th-lg {
  min-width: 38rem;
}
table th {
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-dark:not(:disabled):not(.disabled).active:hover{
   color: aqua; 
  background-color: #1d2124;
  border-color: #171a1d;
}

td:hover{
  border-color: aqua;
  background-color: aqua;
  font-size: 1.2rem;
  font-weight: 500;
}
#title{
  border-color:aqua;
}
.jumbotron{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #343a40;
  color: aqua;
  size: 5rem;
  border-color: aqua;
}
img{
  height:10%;
  width:20%;
}

.btn{
  font-size: 20px;
}
.btn .btn-dark{
  border-color: aqua;
}
.fa-check-circle {
  color: green;
  height: 24px;
  width: 24px;
}

#vmTable {
  height: 44%;
  width: 100%;
  color: white;
}
#homeGrid {
  height: 70%;
  width: 100%;
  color: white;
}

h1 {
  font-size: 42px;
  font-weight: 600;
}
body{
  background-color: black;
}
.breadcrumb {
  padding-bottom: 0px;
}

a {
  color: #343a40;
}

